/* Write your CSS code here */
.container-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.image-products {
  width: 200px;
}
